<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <mapping class="war.webapp.model.User" />
        <mapping class="war.webapp.model.Role" />
        <mapping class="war.webapp.model.DayDuty" />
        <mapping class="war.webapp.model.DutyMonth" />
        <mapping class="war.webapp.model.WorkUnit" />
    </session-factory>
</hibernate-configuration>
