<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <mapping class="org.appfuse.model.User" />
        <mapping class="org.appfuse.model.Role" />
        <mapping class="war.webapp.model.DayDuty" />
        <mapping class="war.webapp.model.UserLocation" />
        <mapping class="war.webapp.model.DutyMonth" />
    </session-factory>
</hibernate-configuration>