a.selected {
    /*background-color: #ff6666;*/
    color: white;
    z-index: 100;
}

.messagepop {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: default;
    display: none;
    margin-top: 3px;
    position: absolute;
    text-align: left;
    width: 305px;
    z-index: 50;
    padding: 25px 25px 20px;
}

label {
    display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;
}

.messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}