
/*.profileContainer {width: 600px;background: #FFF; margin: 0 auto; *//* the auto value on the sides, coupled with the width, centers the layout *//*}*/


.profileContainer #mainPhoto{
	float: left;
    border: 1px solid #C0CAD5;
    cursor: default;
    height: 140px;
    overflow: hidden;
    width: 140px;
	margin-right: 20px;
}

.profileContainer tr.badDuty{background-color: red;}

.profileContainer span.mainLabel{
	color: #444444;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 4px 0 3px;
}
/* reusables */
.profileContainer table {width:100%;padding:10px;border:0px;}
.profileContainer .tabContent {padding-top: 40px;}
.profileContainer .tabContent .current {text-decoration:none; padding: 0; }
.profileContainer .tabContent img {display:inline-block;}
.profileContainer .tabContent ul.tabList {list-style:none;margin-top:10px;overflow:hidden;margin-bottom: 0px; width: 100%;}
.profileContainer .tabContent ul.tabList li {float:left; border:1px solid #b8d7ea; margin-right:0px; margin-left: 0px; border-bottom:none; margin-bottom: 0px;}
.profileContainer .tabContent ul.tabList li.lastTab {margin-right:0px;}
.profileContainer .tabContent ul.tabList li a {display:block;height:45px; /*background:url(../images/tab_background.png) repeat-x top left;*/ background-color: #cddfeb; line-height:40px;padding:0px 54px;text-decoration:none; color:#2f4b57;font-size:17px; font-weight:bold;}
.profileContainer .tabContent ul.tabList li.current a {background:#fff;}
.profileContainer .tabContent div.box {border:1px solid #b8d7ea;margin-top:-1px;padding:0px;}
.profileContainer .tabContent div.box p {margin-bottom:20px;}
.profileContainer .tabContent div.box ul {margin-bottom:20px;}
.profileContainer .tabContent div.box .mapWrapper {overflow:hidden;zoom:1;}

.profileContainer .box {display:none;}
.profileContainer .box.current {display:block; background:none #fff;}


