<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
    default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config />

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="war" />

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
    <bean id="dutyManager" class="war.webapp.service.impl.DayDutyManagerImpl" />
    <bean id="monthManager" class="war.webapp.service.impl.MonthManagerImpl" />
    <bean id="floorManager" class="war.webapp.service.impl.FloorManagerImpl">
        <property name="floorsNames">
            <list>
                <value>пристройка</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>5</value>
                <value>6</value>
                <value>7</value>
                <value>8</value>
                <value>9</value>
                <value>10</value>
                <value>11</value>
                <value>12</value>
            </list>
        </property>
        <property name="availableRooms">
            <list>
                <value>01</value>
                <value>02</value>
                <value>03</value>
                <value>04</value>
                <value>05</value>
                <value>06</value>
                <value>07</value>
                <value>08</value>
                <value>09</value>
                <value>10</value>
                <value>11</value>
                <value>12</value>
                <value>13</value>
                <value>14</value>
                <value>15</value>
                <value>16</value>
                <value>17</value>
                <value>19</value>
                <value>21</value>
                <value>23</value>                
            </list>
        </property>
    </bean>
    <bean id="workUnitManager" class="war.webapp.service.impl.WorkUnitManagerImpl"/>

    <tx:annotation-driven />

</beans>